<%= render :partial => "controls", :locals => {:article => @article} %>

<% panel h(@article.title), :main => true do %>
  <div id="user_article">
    <div class="created_at"><%= @article.created_at.strftime(""[:common_format_datetime]) %></div>

    <%= pictures_for(@article,
          @article.pictures.size > 1 ? {
            :format => :widget,
            :full_size_format => "320x320>",
            :thumbnail_format => "60x45",
            :full_size_first => true
          } : {
            :format => :first_with_name,
            :thumbnail_format => "320x320>"
          }
        ) %>

    <div class="content"><%= filter_content(@article.content, Idfix::Markup::TEXTILE) %></div>

    <%= user_info(@article.author, :remote_format => :general, :controls => false) %>
  </div>

  <%= comments_for(@article) %>
<% end %>