<% page_prefix = Rails.configuration.idfix.services[:publishing][:domain] + "/info/rabochy" %>
<a href="<%= page_prefix %>/about">О газете</a> |
<a href="<%= page_prefix %>/contacts">Контакты</a> |
<a href="<%= page_prefix %>/editors">Редакция</a> |
<a href="<%= page_prefix %>/subscription">Подписка</a> |
<a href="<%= page_prefix %>/advertising">Реклама в газете</a> |
<a href="<%= page_prefix %>/legal-info">Правовая информация</a> |
<a href="<%= page_prefix %>/jobs">Вакансии</a> |
<a href="<%= page_prefix %>/partners">Партнеры</a>
